@model LoginViewModel
@section Header{}
<main class="form-signin position-absolute top-50 start-50 translate-middle mt-2 m-2">
    <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
        <div asp-validation-summary="ModelOnly"></div>
        <h1 class="h3 mb-3 fw-normal">Войти</h1>

        <div class="form-floating mb-2">
            <input type="text" class="form-control" id="floatingInput" asp-for="Login">
            <label for="floatingInput">Логин</label>
            <span asp-validation-for="Login"></span>
        </div>
        <div class="form-floating mb-2">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" asp-for="Password">
            <label for="floatingPassword">Пароль</label>
            <span asp-validation-for="Password"></span>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit">Войти</button>
        
    </form>
    <div class="mb-2 mt-2">
        <a href="/Account/Register" class="btn btn-primary w-100 py-2" type="submit">Зарегистрироваться</a>
    </div>
    <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
</main>
@section Footer{}